@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin-top: 16px;
    border-top: 10px solid #58b647;
    border-right: 10px solid rgba(136, 136, 136, 0.2);
    border-bottom: 10px solid rgba(136, 136, 136, 0.2);
    border-left: 10px solid rgba(136, 136, 136, 0.2);
    animation: spinner 1.2s linear infinite;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
