.button-container {
    text-align: center;
    padding: 8px;
}

.button-container button {
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    margin: 8px;
}

.button-container button:hover {
    background-color: firebrick;
    color: white;
}

.punchline {
    font-family: italic;
}